
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/Homework/v17/.wsuo
.vs/Homework/FileContentIndex/read.lock
.vs/Homework/FileContentIndex/f22cc131-ad35-4021-938e-3266d0058ffe.vsidx
.vs/Homework/FileContentIndex/c4499820-bbc1-49d3-b1cf-5d9f162548d0.vsidx
.vs/Homework/FileContentIndex/2ac89a9c-18e2-461e-8ba5-9dddc31c46f4.vsidx
.vs/Homework/FileContentIndex/001706e4-37ed-4b14-91b3-ba1314fb27d1.vsidx
.vs/Homework/FileContentIndex/64693c26-5d4f-4673-9f17-0637487bd327.vsidx
.vs/Homework/FileContentIndex/78c00c3d-835d-4788-824b-42a06a51775a.vsidx
.vs/Homework/v17/Browse.VC.db
.vs/Homework/v17/Browse.VC.db-shm
.vs/Homework/v17/Browse.VC.db-wal
.vs/Homework/v17/Browse.VC.opendb
.vs/Homework/v17/ipch/AutoPCH/2999143db5abd84/NGAYHOMAYEMDITRONGMUA.ipch
.vs/*